
.container {
  display: flex;
  flex-direction: column;
}

.page {
  text-align: left;
}

.section-div {
  margin-bottom: 10px;
}

.first-div {
  margin-top: 30px;
}

.indented-div {
  margin-left: 20px;
}

.text-div {
  max-width: 70%;
}

h1 {
  margin-top: 15px;
  text-align: center;
}

footer {
  text-align: center;
  padding: 10px;
}
