@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);

body { font-family: 'Droid Serif'; }
h1, h2, h3 {
  font-family: 'Yanone Kaffeesatz';
  font-weight: normal;
}
table {
  border-collapse: collapse;
}
th, td {
  padding: 5px;
  border: 1px solid black;
}

.credit {
  font-size: 60%;
  display: block;
  bottom: 0;
}

.credit::before {
  content: "\2E16";
  padding-right: 4px;
}

.question {
  font-style: oblique;
  color: steelblue;
  background-color: #eee;
  padding-right: 5px;
  border-radius: 2px;
}

.question::before {
  background-color: #eee;
  border-radius: 2px;
  border-left: 4px solid;
  border-color: steelblue;
  content: "";
  padding-right: 5px;
  padding-left: 5px;
}

.note {
  padding-right: 5px;
  border-radius: 2px;
}

.note::before {
  background-color: #eee;
  border-radius: 2px;
  border-left: 4px solid;
  border-color: darkgoldenrod;
  content: "Note";
  padding-right: 5px;
  padding-left: 5px;
  font-weight: 100;
  margin-right: 5px;
}

.remark-code, .remark-inline-code { font-family: 'Ubuntu Mono'; background-color: gainsboro; font-style: italic; }

.red { color: red; }

.column:first-of-type {float:left}
.column:last-of-type {float:right}

.split-50 .column:first-of-type {width: 50%}
.split-50 .column:last-of-type {width: 50%}
